.activities-row {
  display: flex;
  overflow-x: auto;
}

.activity {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  border: solid lightGrey;
  background: lightGrey;
  border-radius: 15px;
}

.activities-row .activity:first-child {
  margin-left: auto;
}

.activities-row .activity:last-child {
  margin-right: auto;
}

.icon {
  max-width: 40px;
  max-height: 20px;
  cursor: help;
}

.icon-row .icon {
  margin-left: 7px;
  margin-right: 7px;
}

.activity-data {
  width: 190px;
  justify-content: center;
  position: relative;
}

.activity div table tbody tr td {
  padding-top: 3px;
  height: 25px;
  vertical-align: middle;
}

.activity-link {
  position: absolute;
  bottom: 0px;
  left: 25%;
}

@media (max-width: 490px) {
  .activity {
    display: block;
  }

  .activity-data {
    width: 300px;
    justify-content: center;
    position: relative;
  }

  .activity div table tbody tr td {
    padding-top: 2px;
    height: 10px;
  }

  .activity-link {
    position: relative;
    padding-top: 5px;
    left: 0;
  }
}

.height-transition {
  transition: max-height 2.5s;
}
